/* BACKGROUND__CRAZY */
body {
  box-sizing: border-box;
	 height: 100vh;
	 background: url(https://images.pond5.com/simple-star-space-background-effect-footage-023768280_prevstill.jpeg);
	 animation: scroll 120s infinite;
   overflow: auto;
}

}
 .front, .middle, .back {
	 height: 33vh;
	 width: 100vw;
	 position: absolute;
}
 .front {
	 bottom: 0;
	 z-index: 5;
}
 .middle {
	 bottom: 33vh;
	 z-index: 2;
}
 .back {
	 bottom: 66vh;
	 z-index: 1;
}
 .star {
	 position: absolute;
	 margin: auto;
	 width: 50px;
	 height: 50px;
	 background: white;
	 border-radius: 50%;
	 z-index: 100;
	 box-shadow: 0px 0px 10px 10px white;
}
 .front .star {
	 width: 150px;
	 height: 150px;
	 animation: toLeft 1s linear;
}
 .front .star:before {
	 width: 150px;
	 height: 150px;
}
 .middle .star {
	 width: 50px;
	 height: 50px;
	 animation: toLeft 2.5s linear;
}
 .middle .star:before {
	 width: 50px;
	 height: 50px;
}
 .back .star {
	 width: 12.5px;
	 height: 12.5px;
	 animation: toLeft 10s linear;
}
 .back .star:before {
	 width: 12.5px;
	 height: 12.5px;
}
 .left {
	 -moz-transform: scaleX(-1);
	 -o-transform: scaleX(-1);
	 -webkit-transform: scaleX(-1);
	 transform: scaleX(-1);
	 filter: FlipH;
	 -ms-filter: "FlipH";
}
 .right {
	 -moz-transform: scaleX(1);
	 -o-transform: scaleX(1);
	 -webkit-transform: scaleX(1);
	 transform: scaleX(1);
	 filter: FlipH;
	 -ms-filter: "FlipH";
}
 @keyframes toRight {
	 0% {
		 left: -50%;
	}
	 100% {
		 left: 150%;
	}
}
 @keyframes toLeft {
	 0% {
		 right: -50%;
	}
	 100% {
		 right: 200%;
	}
}
 @keyframes ship {
	 0% {
		 padding: 0;
	}
	 33% {
		 padding-top: 200px;
	}
	 66% {
		 padding-bottom: 200px;
	}
	 100% {
		 padding: 0;
	}
}
 @keyframes scroll {
	 100% {
		 background-position: -3000px 0;
	}
}
/* BACKGROUND__CRAZY */

*, html {
  margin: 0;
  padding: 0;
  }


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=VT323&display=swap');


.container-pai{
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  margin: 0 10rem 0 10rem;
  /* background: url(img/iran.jpg); */
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr 0.8fr 0.1fr;
  grid-template-areas:
  "header header"
  "sec1 sec2"
  "main main"
  "footer footer";
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.main{
  grid-area: main;
}

.sec1{
  grid-area: sec1;
}

.sec2{
  grid-area: sec2;
}

.footer{
  grid-area: footer;
}

@media only screen and (max-width: 760px){
  .container-pai{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 1fr 1fr 0.2fr;
  grid-template-areas:
  "header header"
  "sec1 sec1"
  "sec2 sec2"
  "main main"
  "footer footer";
}
}

 